
    <h1>Chat</h1>
    <form id="chat-form">
        <input type="text" id="username-input" placeholder="Nombre de usuario">
        <input type="text" id="message-input" placeholder="Escribe un mensaje">
        <button type="submit">Enviar</button>
    </form>
    <ul id="chat-list"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        const chatList = document.getElementById('chat-list');

        const chatForm = document.getElementById('chat-form');
        const usernameInput = document.getElementById('username-input');
        const messageInput = document.getElementById('message-input');

        chatForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const username = usernameInput.value.trim();
            const message = messageInput.value.trim();
            if (username && message) {
                socket.emit('chat message', message, username);
                messageInput.value = '';
            }
        });

        
        socket.on('chat message', (msg, username) => {
            const item = document.createElement('li');
            
            item.textContent = `${username} ${msg}`;
            chatList.appendChild(item);
        });
    </script>
